@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@property --aurora-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00ff8c;
}

@property --ball-bg1 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, hsla(147, 100%, 36%, 1) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-bg2 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, rgb(19, 141, 94) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-bg3 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, rgb(8, 190, 160) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-size {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --bg-gradient {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 22%, hsla(160, 28%, 10%, 1) 53%, hsla(161, 27%, 24%, 1) 84%, hsla(162, 27%, 34%, 1) 100%);
}

@property --dark-green {
  syntax: "<color>";
  inherits: false;
  initial-value: #07633559;
}

@property --goal-text-container-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2020203f;
}

@property --progress-circ-gradient {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 22%, rgb(18, 70, 44) 53%, rgb(29, 94, 67) 84%, rgb(13, 189, 136) 100%);
}

@property --progress-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00c569;
}

@property --progress-shell-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2b2b2b;
}

@property --shiny-green {
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(0, 141, 59);
}

:root {
  font-family: 'Titillium Web';
  color-scheme: dark;
}

a {
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0.5rem;
}

.font-large {
  font-size: 1.5rem;
}

footer {
  color: darkgrey;
  text-align: center;
}

.g1 {
  position: absolute;
  background: var(--ball-bg1);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: 25%;
  animation: moveCirc 30s ease infinite;
}

.g2 {
  position: absolute;
  background: var(--ball-bg2);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: center center;
  animation: moveNE 20s ease infinite;
}

.g3 {
  position: absolute;
  background: var(--ball-bg3);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: center center;
  animation: moveVert 20s ease infinite;
}

#gradient-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;

  background: linear-gradient(135deg, rgb(8, 43, 24) 0%, rgb(15, 58, 34) 26%, hsla(147, 50%, 8%, 1) 60%, hsla(0, 0%, 0%, 1) 100%);
  overflow: hidden;
  z-index: -1;
}

#gradient-bg>svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

#gradients {
  filter: url(#goo) blur(2.5rem);
  width: 100%;
  height: 100%;
}

#ham-menu {
  display: none;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;

  display: flex;
  justify-content: space-between;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 62.5rem;
}

nav {
  flex-basis: 100%;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

#nav-bg {
  display: none;
}

#nav-items {
  align-items: center;
  background-color: #07633559;
  border-radius: 2rem;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 0;
  min-width: 40rem;
  outline-color: var(--shiny-green);
  outline-style: solid;
  outline-width: 0.06rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;
}

#nav-items a {
  text-shadow: 0 0 0.1rem #00ffaa80;
  transition: all 0.3s ease-out;
}

#nav-items a:hover {
  scale: 120%;
}

.pop-on-hover {
  display: block;
  width: fit-content;
  transition: all 0.3s;
}

.pop-on-hover:hover {
  scale: 120%;
}

#time {
  display: flex;
  font-size: 2rem;
  line-height: 90%;
}

#time-colon {
  animation: blink 0.5s step-end infinite alternate;
}

#typewritter-container {
  width: fit-content;
}

#typewritter-text {
  font-size: 1.5rem;
  width: 100%;
  max-width: 100vw;
  border-right: 0.31rem solid;
  padding-right: 0.1rem;
  overflow: hidden;
  white-space: nowrap;
}

.typing-delete {
  animation:
    cursor-blink 0.5s step-end infinite alternate,
    typing-delete 1s forwards;
}

.typing-start {
  animation:
    cursor-blink 0.5s step-end infinite alternate,
    typing-start 1.5s;
}

.wavy-text {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.06rem;
}

@media (max-width: 50rem) {
  #clock {
    width: fit-content;
  }

  #ham-menu {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
  }

  #ham-menu.active div:nth-child(1) {
    transform: translateY(150%) rotate(45deg);
  }

  #ham-menu.active div:nth-child(2) {
    opacity: 0;
  }

  #ham-menu.active div:nth-child(3) {
    transform: translateY(-150%) rotate(-45deg);
  }

  #ham-menu div {
    background-color: #86ffc1;
    border-radius: 1.25rem;
    height: 0.3rem;
    margin-top: 0.19rem;
    width: 1.7rem;
    transition: all 0.3s;
  }

  header {
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    margin-top: 0.65rem;
    position: relative;
  }

  main {
    display: block;
    margin-left: 0.63rem;
    margin-right: 0.63rem;
  }

  nav {
    margin-top: 0;
    margin-bottom: auto;
  }

  #nav-bg.active {
    backdrop-filter: blur(2rem);
    background-color: #07633559;
    display: block;
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  #nav-items {
    border-radius: 0;
    display: none;
    grid-template-columns: 1fr 1fr;
    height: auto;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    transform: translateY(50%);
    right: 0;
    transition: all 0.3s;
    visibility: hidden;
    width: 100%;
  }

  #nav-items.active {
    display: grid;
    opacity: 1.0;
    transition: all 0.3s;
    visibility: visible;
  }

  #nav-items a {
    text-align: center;
    padding: 1rem;
    outline: 0.06rem solid var(--shiny-green);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes moveCirc {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveNE {
  0% {
    transform: translateY(20%) translateX(-50%);
  }

  50% {
    transform: translateY(-20%) translateX(50%);
  }

  100% {
    transform: translateY(20%) translateX(-50%);
  }
}

@keyframes moveVert {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes typing-delete {
  100% {
    width: 0;
  }
}

@keyframes typing-start {
  from {
    width: 0;
  }
}